/* body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */
#enterBtn:hover,
 #toCourierBtn:hover{
    color: rgb(62, 83, 32);
}
#back{
    width: 100%;
    height: 100vh;
    background-color:rgba(203, 225, 173, 1);
}

#background {
    width:70%;
    height: 100vh;

}

#enterBtn,
 #toCourierBtn{
    margin-right: 5%; /* מרווח מימין, כמו שביקשת */
    background-color: white;
    border: none;   
    font-size:large;
}
